---
layout: default
title: Notícias
pagination: 
  enabled: true
---
<ul class="news">
    <li>
        <div class="icon"><i class="fa fa-rss fa-fw"></i></div>
        <div class="text">
        <div class="date"></div>
        <div class="date"></div>
        <a href="{{ site.base }}/news/news.xml"> Notícias via Feed RSS</a>
        </div>
    </li>
{% for post in paginator.posts %}
    <li>
        <div class="icon"><i class="fa fa-{{ post.icon }} fa-fw"></i></div>
        <div class="text">
        <div class="date">{{ post.date | date: "%d/%m/%Y" }}</div>
        <b>{{ post.title }}</b>
        {{ post.content | markdownfy }}
        <p>
          <a href="{{ site.url }}{{ site.base }}{{ post.url }}.html" title="Link da notícia"><i class="fa fa-link fa-fw"></i></a>&nbsp;
          
          <a href="https://t.me/share/url?url={{ site.url }}{{ site.base }}{{ post.url }}.html&text={{ post.title }}" title="Compartilhe no Telegram" target="_blank"><i class="fa fa-paper-plane fa-fw"></i></a>&nbsp;
          
          <a href="https://api.whatsapp.com/send?text={{ post.title }} {{ site.url }}{{ site.base }}{{ post.url }}.html" data-action="share/whatsapp/share" title="Compartilhe no Whatsapp" target="_blank"><i class="fa fa-whatsapp fa-fw"></i></a>&nbsp;
          
          <a href="https://twitter.com/intent/tweet?text={{ post.title }} {{ site.url }}{{ site.base }}{{ post.url }}.html" title="Compartilhe no Twitter" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>&nbsp;
          
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.base }}{{ post.url }}.html" title="Compartilhe no Facebook" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>&nbsp;
          
          <a href='mailto:?subject={{ post.title }}&body=Notícias LAAI - {{ post.title }}%0D%0A%0D%0AVeja em {{ site.url }}{{ site.base }}{{ post.url }}.html' title="Compartilhe por E-mail" target="_blank"><i class="fa fa-envelope-o fa-fw"></i></a>&nbsp;
        </p>
        </div>
    </li>
{% endfor %}
</ul>
<nav class="text-center">
  <ul class="pagination">
    {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path }}">
        <span>&laquo; Anteriores</span></a>
    </li>
    {% else %}
    <li class="disabled"><a href="#">
        <span>&laquo; Anteriores</span></a>
    </li>
    </li>
    {% endif %}
    {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path }}">
        <span>Recentes &raquo;</span></a>
    </li>
    {% else %}
    <li class="disabled"><a href="#">
        <span>Recentes &raquo;</span></a>
    </li>
    {% endif %}
  </ul>
</nav>
