---
layout: default
title: Calendário
---
<p>No calendário do LAAI são divulgadas datas importantes de reuniões, seminários, chamada de trabalhos para conferências e periódicos de interesse do laboratório, entre outros. É possível acompanhar o calendário utilizando softwares de agenda, bastando subscrever a <a href="https://cloud.filipesaraiva.info/remote.php/dav/public-calendars/JJkcDa7k2pQgm2KG/?export">URL do arquivo</a>.</p>
<div class="embed-responsive embed-responsive-16by9" style="text-align:center">
<iframe width="400" height="215" src="https://cloud.filipesaraiva.info/index.php/apps/calendar/embed/JJkcDa7k2pQgm2KG"></iframe>
</div>
<br><i style="text-align:center;color:#bbb;" class="fa fa-calendar fa-fw center"></i> <a href="https://cloud.filipesaraiva.info/remote.php/dav/public-calendars/JJkcDa7k2pQgm2KG/?export">Importar calendário (ICS)</a>
