<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }}: {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ site.base }}/img/logo-ufpa.png" rel="icon" type="image/png">
        <link href="{{ site.base }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ site.base }}/css/group.css" rel="stylesheet">
        <link href="{{ site.base }}/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ site.base }}/css/academicons/css/academicons.css" rel="stylesheet">
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ site.base }}/news/news.xml">
    <style>
        @media (max-width: 1200px) {
            .navbar-header {
                float: none;
            }
            .navbar-left,.navbar-right {
                float: none !important;
            }
            .navbar-toggle {
                display: block;
            }
            .navbar-collapse {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
            }
            .navbar-fixed-top {
                top: 0;
                border-width: 0 0 1px;
            }
            .navbar-collapse.collapse {
                display: none!important;
            }
            .navbar-nav {
                float: none!important;
                margin-top: 7.5px;
            }
            .navbar-nav>li {
                float: none;
            }
            .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .collapse.in{
                display:block !important;
            }
        }
        
        @media (min-width: 768px) {
            .container {
                max-width: 900px;
            }
        }
        
        @media (min-width: 768px) {
            .text-left-sm {
                text-align: left;
            }
        }

        @media (min-width: 992px) {
            .text-justify-md {
                text-align: justify;
            }
        }
        
        .nav {
            background-color: transparent;
            background: transparent;
            border-color: transparent;
            justify-content: center;
            align-items: center;
        }

        .navbar {
            background-color: transparent;
            background: transparent;
            border-color: transparent;
            border-bottom-color: #F0F0F0;
            border-radius: 0 !important;
            -moz-border-radius: 0 !important;
        }
 
        .navbar-nav li a {
            color: #428bca !important;
        }

        .navbar-nav li a:hover, .navbar-nav > .active > a {
            color: #fff !important;
            background-color: #428bca !important;
            border-color: #357ebd !important;
        }
    </style>
    </head>
    <body>
        <div class="container">
            <div class="responsive-nav-pills2bar">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-left" href="{{ site.base }}/">
                                <img src="{{ site.base }}/img/laai-logo.png"
                                alt="LAAI" id="logo"></a>
                                <br>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
                            <ul class="nav nav-pills navbar-right">
                                {% assign shorturl = page.url | replace:'index.html','' %}
                                {% for item in site.navigation %}
                                {% if item.link == shorturl %}
                                <li class="active">
                                    <a href="{{ site.base }}{{ item.link }}">
                                    {{ item.title }}
                                    </a>
                                </li>
                                {% continue %}
                                {% endif %}
                                <li {% if shorturl contains item.link and item.link != '/' %}
                                    class="active"{% endif %}>
                                    <a href="{{ site.base }}{{ item.link }}">
                                    {{ item.title }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <a class="navbar-left" href="{{ site.base }}/">
                                        <img src="{{ site.base }}/img/laai-logo.png"
                                        alt="LAAI" id="logo"></a>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
            
          <div class="content text-left-sm text-justify-md">    
          {% comment %}Liquid is sort of terrible! I think "!= true" is the
          only way to do negation?{% endcomment %}
          {% if page.notitle != true %}
          <h2>{{ page.title }}</h2>
          {% endif %}

          {{ content }}
          </div>

          <br>
          <div class="footer">
            <p>
              <a href="http://icen.ufpa.br/">Instituto de Ciências Exatas
              e Naturais</a>
              da
              <a href="http://ufpa.br/">Universidade Federal do Pará</a>
            </p>
          </div>

        </div> <!-- /container -->

        <!-- Support retina images. -->
        <script src="{{ site.base }}/js/srcset-polyfill.js"></script>
        <script src="{{ site.base }}/js/jquery.min.js"></script>
        <script src="{{ site.base }}/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
            
            var responsiveNavPills2Bar = function() {
                if ($(window).width() >= 1200) {
                    $('.responsive-nav-pills2bar>nav.navbar').removeClass('navbar-default');
                    $('.responsive-nav-pills2bar>nav.navbar>.container-fluid>.navbar-header').hide();
                    $('.responsive-nav-pills2bar>nav.navbar>.container-fluid>.navbar-collapse>.nav').removeClass('navbar-nav').addClass('nav-pills');
                    $('.responsive-nav-pills2bar>nav.navbar>.container-fluid>.navbar-collapse>.navbar-left').show();
                }
                else {
                    $('.responsive-nav-pills2bar>nav.navbar').addClass('navbar-default');
                    $('.responsive-nav-pills2bar>nav.navbar>.container-fluid>.navbar-header').show();
                    $('.responsive-nav-pills2bar>nav.navbar>.container-fluid>.navbar-collapse>.nav').removeClass('nav-pills').addClass('navbar-nav');
                    $('.responsive-nav-pills2bar>nav.navbar>.container-fluid>.navbar-collapse>.navbar-left').hide();
                }
            }

            $(window).resize(function() {
                responsiveNavPills2Bar();
            });
            responsiveNavPills2Bar();
            
            $('.carousel').carousel({interval:15000,pause:false});
        });
        </script>
    </body>
</html>
