---
layout: default
title: 
---

  <div class="row">
  <div class="col-md-9">
  <p>{{ page.description | markdownfy }}</p>
  {% assign papers = 0 %}
    {% for paper in site.data.pubs %}
      {% for research in paper.research %}
        {% if research == page.title %}
        {% if papers == 0 %}
          <h3>Publicações:</h3>
          <table class="table">
          <tbody>
          {% assign papers = 1 %}
          {% assign prevyear = 1900 %}
        {% endif %}
            <tr>
              <td>
                <span class="date">
                  {% if paper.year != prevyear %}
                  <big><strong>{{ paper.year }}</strong></big><br />
                  {% assign prevyear = paper.year %}
                  {% endif %}
                </span>
              </td>
              <td class="publication">
                <span class="pubtitle">
                  {% if paper.url != nil %}
                  <i style="color:#bbb;" class="fa fa-file-pdf-o fa-fw"></i>
                  <a href="{{ paper.url }}">{{ paper.title }}</a>
                  {% else %}
                  {{ paper.title }}
                  {% endif %}
                </span><br />
                <span class="authors">
                  <i style="color:#bbb;" class="fa fa-user-o fa-fw"></i>
                  {% assign lastname = site.data.people.last %}
                  {% assign sizeauthors = paper.authors.size %}
                  {% assign itauthors = sizeauthors | minus:1 %}
                  {% assign numauthor = 1 %}
                  {% for author in paper.authors %}
                  {% for person in site.data.people %}
                      {% if person.display_name == author.name %}
                          <a href='{{ site.base }}/people/{{ author.name | sanitize_filename }}'>{{ author.name }}</a>{% if numauthor == sizeauthors %} {% elsif numauthor == itauthors %} e {% else %}, {% endif %}
                          {% assign numauthor = numauthor | plus: 1 %}
                          {% break %}
                      {% endif %}
                      {% if person.display_name == lastname.display_name %}
                          {{ author.name }}{% if numauthor == sizeauthors %} {% elsif numauthor == itauthors %} e {% else %}, {% endif %}
                          {% assign numauthor = numauthor | plus: 1 %}
                      {% endif %}
                  {% endfor %}
                  {% endfor %}
                </span><br />
                <span class="authors">
                  <i style="color:#bbb;" class="fa fa-book fa-fw"></i>
                  {{ paper.pubtitle }}
                </span><br />
              </td>
            </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% if papers == 1 %}
    </tbody>
    </table>
    {% endif %}
  </div>
  <div class="col-md-3" style="text-align:left;">
  {% if page.leader != nil %}
    <p><b>Coordenador</b></p>
    <p>
      <i style="color:#bbb;" class="fa fa-user-o fa-fw"></i> <a href='{{ site.base }}/people/{{ page.leader | sanitize_filename }}'>{{ page.leader }}</a>
    </p>
  {% endif %}
  {% if page.collaborators[0].name != nil %}
    <p><b>Colaboradores</b></p>
    <p>
    {% for collaborator in page.collaborators %}
    <i style="color:#bbb;" class="fa fa-user-o fa-fw"></i> {% if collaborator.link != nil %}<a href='{{ collaborator.link }}'>{% endif %}{{ collaborator.name }}{% if collaborator.link != nil %}</a>{% endif %} {% if collaborator.institution != nil %}({{ collaborator.institution }}){% endif %}<br>
    {% endfor %}
    </p>
  {% endif %}
  {% if page.students[0].name != nil %}
    <p><b>Estudantes</b></p>
    <p>
    {% for student in page.students %}
    <i style="color:#bbb;" class="fa fa-user-o fa-fw"></i> <a href='{{ site.base }}/people/{{ student.name | sanitize_filename }}'>{{ student.name }}</a><br>
    {% endfor %}
    </p>
  {% endif %}
  {% if page.funding[0].sponsor != nil %}
    <p><b>Financiamento</b></p>
    {% for funding in page.funding %}
    <i style="color:#bbb;" class="fa fa-institution fa-fw"></i> {{ funding.sponsor }}<br>
    {% endfor %}
    </p>
  {% endif %}
  <p><b>Data de execução</b></p>
  <p><i style="color:#bbb;" class="fa fa-calendar fa-fw"></i> {{ page.date_begin }} -
    {% if page.date_end != nil %}
        {{ page.date_end }}
    {% else %}
        Atualmente
    {% endif %}
  </p>
  {% if page.link != nil %}
    <p><b>Mais Informações</b></p>
    <p><i style="color:#bbb;" class="fa fa-globe fa-fw"></i> <a href='{{ page.link}}'>Webpage</a></p>
  {% endif %}
  </div>
  </div>
