---
layout: default
title: Publicações
---
<p>
    Publicações produzidas pelo grupo de pesquisa:
    <!-- a href="{{ site.base }}/bib/pubs.bib">Download BibTeX.</a -->
</p>
<table class="table">
<tbody>
{% assign prevyear = 1900 %}
{% for pub in site.data.pubs %}
  <tr>
    <td>
      <span class="date">
        {% if pub.year != prevyear %}
        <big><strong>{{ pub.year }}</strong></big><br />
        {% assign prevyear = pub.year %}
        {% endif %}
      </span>
    </td>
    <td class="publication">
      <span class="pubtitle">
        {% if pub.url != nil %}
        <i style="color:#bbb;" class="fa fa-file-pdf-o fa-fw"></i>
        <a href="{{ pub.url }}">{{ pub.title }}</a>
        {% else %}
        {{ pub.title }}
        {% endif %}
      </span><br />
      <span class="authors">
        <i style="color:#bbb;" class="fa fa-user-o fa-fw"></i>
        {% assign lastname = site.data.people.last %}
        {% assign sizeauthors = pub.authors.size %}
        {% assign itauthors = sizeauthors | minus:1 %}
        {% assign numauthor = 1 %}
        {% for author in pub.authors %}
        {% for person in site.data.people %}
            {% if person.display_name == author.name %}
                <a href='{{ site.base }}/people/{{ author.name | sanitize_filename }}'>{{ author.name }}</a>{% if numauthor == sizeauthors %} {% elsif numauthor == itauthors %} e {% else %}, {% endif %}
                {% assign numauthor = numauthor | plus: 1 %}
                {% break %}
            {% endif %}
            {% if person.display_name == lastname.display_name %}
                {{ author.name }}{% if numauthor == sizeauthors %} {% elsif numauthor == itauthors %} e {% else %}, {% endif %}
                {% assign numauthor = numauthor | plus: 1 %}
            {% endif %}
        {% endfor %}
        {% endfor %}
      </span><br />
      <span class="authors">
        <i style="color:#bbb;" class="fa fa-book fa-fw"></i>
        {{ pub.pubtitle }}
      </span><br />
    </td>
  </tr>
{% endfor %}
</tbody>
</table>
