---
layout: default
title: Localização
---

<div class="embed-responsive embed-responsive-16by9" style="text-align:center">
  <iframe src="https://umap.openstreetmap.fr/en/map/laai_184641?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=false&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=null&onLoadPanel=undefined&captionBar=false&fullscreenControl=false#17/-1.47446/-48.45632"></iframe>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-1">
    <div style="text-align:center;color:#bbb;"><i class="fa fa-map-marker fa-3x center"></i></div>
    </p>
  </div>
  <div class="col-md-5">
    Universidade Federal do Pará<br>
    Campus Universitário do Guamá<br>
    Instituto de Ciências Exatas e Naturais<br>
    Laboratory of Applied Artificial Intelligence<br>
    <p></p>
    Rua Augusto Corrêa n. 01 - Guamá<br>
    CEP 66075-110<br>
    Belém - PA - Brasil</p>
  </div>
  <div class="col-md-4">
    <p><i style="text-align:center;color:#bbb;" class="fa fa-map-marker fa-fw center"></i>Lat: -1.4745 Lon: -48.4564<br>
    <i style="text-align:center;color:#bbb;" class="fa fa-map-marker fa-fw center"></i>GPS: 1°28'28.344''S, 48°27'23.108''W<br>
    <i style="text-align:center;color:#bbb;" class="fa fa-map-marker fa-fw center"></i>Endereço no <a href="https://www.google.com.br/maps/place/Instituto+de+Ci%C3%AAncias+Exatas+e+Naturais+(ICEN)/@-1.4745399,-48.4586076,17z/data=!3m1!4b1!4m5!3m4!1s0x92a48d9574d13b1f:0x3a6e562cb7215bec!8m2!3d-1.4745399!4d-48.4564189?hl=pt-BR">Google Maps</a><br>
    <i style="text-align:center;color:#bbb;" class="fa fa-map-marker fa-fw center"></i>Endereço no <a href="http://osm.org/go/N~PUnaYFB-?layers=N&m=">OpenStreetMap</a></p>
  </div>
</div>
